div.observe {
    padding: 10px;
    div.observeHeader {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: left;
    }

    div.observeTable {
        display: grid;
        justify-content: center;
        thead {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            justify-content: space-between;
        }
    }
}