div.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding: 10px;

  button {
    font-family: 'Arvo';
    font-size: 15px;
    background-color: #555;
    /* Green */
    border: 2px solid #555;
    border-radius: 3px;
    color: white;
    width: 80%;
    height: 3rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.2s;
  }

  button:hover {
    background-color: white;
    color: black;
    border: 2px solid #555;
  }

  p {
    display: grid;
    justify-content: center;
  }
}
