div.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    button {
        width: 50%;
        height: auto;
        border-color: black;
        border-radius: 3px;
    }
    p {
        display: grid;
        justify-content: center;
    }
}