body {
  margin: 0;
  font-family: 'Arvo';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div#nav-bucket {
  border-bottom: 0.5px solid black;
}

@font-face {
  font-family: 'Arvo';
  src: local('Arvo'), url(./fonts/Arvo/Arvo-Regular.ttf) format('truetype');
}